<div class="white bg-black pv5">
	<div class="ph3 mw7 center">
		

		<div class="flex-l mhn2-l">

			<div class="w-60-l ph2-l">

				<div>
					<video width="100%" height="100%" controls preload="auto" poster="/img/planet-beatbox.jpg">
					  <source src="/video/planet-beatbox.webm" type="video/webm">
					  <source src="/video/planet-beatbox.mp4" type="video/mp4">
					  <!-- <source src="/video/planet-beatbox.ogg" type="video/ogg"> -->
					</video>
				</div>
				
				<h2 class="mt2 f3 b lh-title mb2">{{.heading}}</h2>

				<p class="">{{.text}}</p>

				{{if .buttonText}}<a href="{{.buttonLink}}" class="btn raise">{{.buttonText}}</a>{{ end }}
			</div>

			<div class="w-40-l ph3-l mb4 tc">
				<img src="{{.image}}" style="max-width:300px;">
			</div>

		</div>

		


	</div>
</div>
